/* 全局样式表 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
  }
  
/* 去除element el-input type=number 右侧箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
input[type='number'] {
    -moz-appearance: textfield !important;
}